#root{
    margin: 10px auto;
    height: 200px;
}
div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    border: 1px solid black;
    margin: 15px 5px;
    padding: 1px;
    border-radius: 10px;
}
.green{
    background: green;
}
.red{
    background: red;
}